<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Self Clinic</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/homepage.css">
</head>
<body>

    <nav class="navbar navbar-light bg-dark justify-content-between">
        <a href="/" class="navbar-brand"><i class="bi bi-clipboard-plus"></i>   Self-Clinic</a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link btn btn-outline-info" href="/register">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-outline-info" href="/login">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-outline-info" href="/Documentation">Documentation</a>
            </li>
          </ul>
    </nav>
    <div class="section2"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>What is Parkinsons</h2>
                <p>Parkinson’s disease is the disease of the nervous system which causes tremor, stiffness and slows down the movement. Although the disease cannot be cured, if it is detected early, then some of its symptoms can be alleviated. The next generation sequencing technology has made it possible to sequence the entire genome of a human being. One of the sequencing technology, called RNA sequencing also makes it possible to measure which genes are being expressed in a cell. In this project we will work on labelled data for Parkinson’s disease...</p>
                <a href="https://en.wikipedia.org/wiki/Parkinson%27s_disease" type="button" class="btn btn-outline-info">Read More</a>
            </div>
            <div class="col col-sec">
                <div class="img-container">
                <img src="https://www.parkinson.org/sites/default/files/neurons%20.jpg" width="400" height="200" alt="">
                </div>
            </div>
        </div>
        <div class="row row-2">
            <div class="col">
                <div class="img-container">
                    <img src="https://1.bp.blogspot.com/-n0cHyU75eeY/WaPqvSdfSUI/AAAAAAAAbxw/4yF0RGMFceo70b3J9_72ehhYuQp-n4MyACLcBGAs/s1600/Self%2Bmotivation%2Bis%2Bkey.jpg" width="400" height="200" alt="">
                </div>
               
            </div>
          <div class="col">
              <h2>Motivation</h2>
              <p>Parkinson's disease (PD) is a progressive disorder that affects nerve cells in the brain responsible for body movement. When dopamine-producing neurons die, symptoms such as tremor, slowness, stiffness, and balance problems occur. objective is to detect Parkinson’s disease in a patient given their RNA sequencing data. We tried to reduce stress on one's pocket only to do a paralysis checkup through our skills</p>
          </div>
        </div>

          <div class="row row-2">
              <div class="col">
                  <h2>About Us</h2>
                  <p>This website is developed by two students of Vellore Institute of Technology ,Chennai. Himanshu Sharma and Charchil Jain as a project for Essentials of Data analytics under the guidance of Prof.Karthik R. The aim is to detect the early signs of parkinsons disease.</p>
              </div>
              <div class="col col-sec">
                  <div class="img-container">
                      <img src="https://cache.careers360.mobi/media/presets/720X480/colleges/social-media/media-gallery/678/2019/6/25/Campus%20View%20of%20VIT%20University%20Chennai_Campus-View.jpg" width="400" height="200" alt="">
                  </div>
              </div>
          </div>
      </div>

      <footer>
          <p>&copy; Himanshu Sharma and Charchil Jain</p>
      </footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>