<html>
<head>
<b>Login</b>
</head>

<body>


<div>
<form>
<label for="email">enter your email</label>
<input type="email" name="email" placholder="abcd@gmail.com">

<label for="password">enter your passwod here</label>
<input type="password" name="password">
</form>
</div>


<div>
<h4><i><b>terms and conditions</b></i></h4>
<p>
Help protect your website and its users with clear and fair website terms and conditions. These terms and conditions for a website set out key issues such as acceptable use, privacy, cookies, registration and passwords, intellectual property, links to other sites, termination and disclaimers of responsibility. Terms and conditions are used and necessary to protect a website owner from liability of a user relying on the information or the goods provided from the site then suffering a loss.
Making your own terms and conditions for your website is hard, not impossible, to do. It can take a few hours to few days for a person with no legal background to make. But worry no more; we are here to help you out.
</p>
<label="i agree"><b>I agree to all terms and conditions</b></label>
<input type="checkbox" name="i agree">
<button type="submit"><a href=>submit</a></button>

</div>


</body>
</html>